.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
  }
  
  ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  ul li {
    list-style: none;
  }
  
  .book-logo {
    width: 300px;  /* Set the desired width */
    height: 300px; /* Set the desired height */
    object-fit: cover;  /* Ensures the image covers the specified width and height */
  }
  
  .search-box {
    display: flex;
    align-items: center;
  }
  
  .search-box input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  